<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        .main-title {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    </style>

</head>
<body>
    <h1 class="main-title">{{title}}</h1>

    <a href={{url}}>click</a>
    <!-- <form action="/click"> -->
    <!-- <button onclick="click">dDAADADADA</button> -->
    <!-- <button type="submit" class="ui button" name="button_table_summ" value="button_table_summ">Button</button> -->
       
    <div class="content">
        <h1>{{content}}</h1>
    </div>
</body>
</html>