<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new list</title>
</head>
<body>
    <h1>create page</h1>
    <form method="post" action="#">
        {% csrf_token %}
        {{form.as_p}}
        <!-- <input type="text"> -->
        <button type="submit" name="save">
            create
        </button>

        <button type="submit" name="test" value="save1">ADADADAD</button>
    </form>
</body>
</html>