
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: gainsboro;
            color: green;
        }
        .form-content {
            margin-top: 10%;
            text-align: center;
        }
        .form-content input {
            width: 20%;
            height: 20px;
        }
        
        .form-content button {
            width: 15%;
            height: 30px;
        }
    </style>
</head>
<body>
    <div class="form-content">
    {% load crispy_forms_tags %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>{{field}}</p>
        {% endfor %}    
        <p><button type="submit">Reg</button></p>
        <p><a href="/login/">login</a></p>

        <script>
            document.getElementsByTagName('input')[1].placeholder = 'Name';
            document.getElementsByTagName('input')[2].placeholder = 'Email';
            document.getElementsByTagName('input')[3].placeholder = 'Password';
            document.getElementsByTagName('input')[4].placeholder = 'Repeate password';
        </script>
    </form>
    </div>
</body>
</html>